CONFIG_IDF_TARGET="esp32s31"
CONFIG_HEAP_USE_HOOKS=y
CONFIG_FREERTOS_USE_TRACE_FACILITY=y
CONFIG_ESP_IRIS_TASK_MEMORY_OBSERVATION=y
CONFIG_PARTITION_TABLE_CUSTOM_FILENAME="partitions.csv"
CONFIG_ESP_IRIS_USB_PRODUCT="ESP-Iris Internal Budget Test"
